alias grep='LANG=C grep'
alias l='ls -l'
alias la='ls -lartF'
alias ll='ls -lrt'
alias mv='mv -i'
alias rm='rm -i'
alias ssh='/usr/local/bin/gpg-connect-agent -q updatestartuptty /bye &>/dev/null ; LC_ALL=en_US.UTF-8 ssh'
alias strings='strings -a'
alias vi='vim'
