[user]
    name = Ian Dexter D Marquez
    email = iandexter@users.noreply.github.com
    logallrefupdates = true
    signingkey = 126A3EDFFB6E402E
[core]
    excludesfile = /Users/iandexter/.gitignore
    editor = vim
[alias]
    ba = branch --all
    bd = branch --delete --force
    ca = config --get-regexp '^alias\\.'
    cb = checkout -b
    ci = commit -sS
    co = checkout
    fp = fetch --prune origin
    fr = "!git fetch origin master && git rebase origin/master"
    fu = "!git fetch upstream && git checkout master && git merge upstream/master"
    ld = log --pretty=format:\"%ad %C(yellow)%h %Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=relative
    lo = log --oneline --decorate
    lg = log --graph --decorate --pretty=oneline --abbrev-commit
    lp = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
    mf = merge --no-ff
    pb = push --set-upstream origin
    pm = "!git remote | xargs -I % git push --set-upstream %"
    rv = remote --verbose
    sf = diff-tree --no-commit-id --name-only -r
    sp = show --pretty=oneline --abbrev-commit
    ss = status --short --branch
    st = status
    up = "!git remote update && git checkout master && git pull --rebase --prune"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[format]
    pretty = oneline
[push]
    default = simple
[diff]
    mnemonicprefix = true
[branch]
    autosetupmerge = true
[merge]
    stat = true
[pull]
    rebase = true
[gpg]
    program = gpg
[commit]
    gpgsign = true
[init]
	templateDir = ~/projects/compareglobal/git-template
[secrets]
    providers = git secrets --aws-provider
    patterns = [A-Z0-9]{20}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    allowed = aws_account_id:\\s\\d+
    patterns = (api|API|hmac)[kK]ey
    patterns = .*([pP]ass|token).*(:|=)
    patterns = [0-9a-fA-F]{32,48}
