*~
*.orig
*.rej
*.swp
.#*
*.o
.DS_Store
*.local
dbxcli
.config/GitHub*
.config/configstore/
.config/gcloud/
.config/gh/
.config/gtk-2.0/
.config/iterm2/
.config/pip/
.config/wireshark/
.config/com.googlecode.iterm2.plist
